.box {
    width: 100px;
    aspect-ratio: 1 / 1;
}

body {
    font-size: 16px;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.drink {
    background-color: #eeeeee;
}

.appetizer {
    background-color: #cccccc;
}

.entree {
    background-color: #9cb3a7;
}

.side {
    background-color: #c0d8cc;
}

.dessert {
    background-color: #f2dbdb;
}